<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhengru.LeaveManagementSystem.mapper.ApprovalProcessMapper">

    <resultMap id="BaseResultMap" type="top.zhengru.LeaveManagementSystem.entity.ApprovalProcess">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="leaveId" column="leave_id" jdbcType="INTEGER"/>
            <result property="approverNo" column="approver_no" jdbcType="VARCHAR"/>
            <result property="approveOrder" column="approve_order" jdbcType="INTEGER"/>
            <result property="action" column="action" jdbcType="TINYINT"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isLast" column="is_last" jdbcType="TINYINT"/>
            <result property="completeTime" column="complete_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,leave_id,approver_no,
        approve_order,action,reason,
        status,is_last,complete_time,
        is_deleted
    </sql>
    <update id="readLeaveDetail">
        update approval_process
        set status = 1, complete_time = #{completeTime}
        where leave_id = #{leaveId} and approver_no = #{approverNo} and action = 0 and is_deleted = 0
    </update>
    <resultMap id="ApprovalProcessVO" type="top.zhengru.LeaveManagementSystem.vo.ApprovalProcessVO">
        <result property="realName" column="realName"/>
        <result property="username" column="username"/>
        <result property="reason" column="reason"/>
        <result property="status" column="status"/>
        <result property="completeTime" column="completeTime"/>
        <collection property="roleName" ofType="java.lang.String">
            <result column="roleName" property="roleName" />
        </collection>
    </resultMap>
    <select id="queryApprovalProcess" resultMap="ApprovalProcessVO">
        select su.real_name as realName, su.username, ap.reason, ap.status,
               sr.description as roleName, ap.complete_time as completeTime
        from approval_process ap, sys_user su, sys_role sr, sys_user_role sur
        where ap.approver_no = su.username and leave_id = #{id}
          and sur.user_id = su.id and sur.role_id = sr.id
          and ap.action = 1 and ap.is_deleted = 0 and su.is_deleted = 0
          and sr.is_deleted = 0 and sur.is_deleted = 0
        order by ap.approve_order, role_id
    </select>
    <select id="queryCcPersons" resultType="top.zhengru.LeaveManagementSystem.vo.ccPersonVO">
        select su.real_name as realName, su.username, ap.status, ap.complete_time as completeTime
        from approval_process ap, sys_user su
        where ap.approver_no = su.username and leave_id = #{id}
          and ap.action = 0 and ap.is_deleted = 0 and su.is_deleted = 0
    </select>
    <select id="countUnFinished" resultType="java.lang.Integer">
        select count(*) as taskCount
        from leave_info li, approval_process ap
        where li.id = ap.leave_id and li.now_order = ap.approve_order
          and ap.approver_no = #{username} and ap.action = 1 and ap.status = 0
          and li.is_deleted = 0 and ap.is_deleted = 0
    </select>
    <select id="teachAvgTime" resultType="java.lang.Double">
        select AVG(TIMESTAMPDIFF(HOUR, li.create_time, ap.complete_time)) AS average_waiting_time
        from leave_info li, approval_process ap
        where li.id = ap.leave_id and ap.approver_no = '29011'
          and ap.complete_time is not null and li.is_deleted = 0 and ap.is_deleted = 0
    </select>
</mapper>
