<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhengru.LeaveManagementSystem.mapper.ApprovalProcessMapper">

    <resultMap id="BaseResultMap" type="top.zhengru.LeaveManagementSystem.entity.ApprovalProcess">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="leaveId" column="leave_id" jdbcType="INTEGER"/>
            <result property="approverNo" column="approver_no" jdbcType="VARCHAR"/>
            <result property="approveOrder" column="approve_order" jdbcType="INTEGER"/>
            <result property="action" column="action" jdbcType="TINYINT"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isLast" column="is_last" jdbcType="TINYINT"/>
            <result property="completeTime" column="complete_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,leave_id,approver_no,
        approve_order,action,reason,
        status,is_last,complete_time,
        is_deleted
    </sql>
</mapper>
