<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhengru.LeaveManagementSystem.mapper.SysMenuMapper">

    <sql id="Base_Column_List">
        id,url,path,
        component,name,iconCls,
        keepAlive,requireAuth,parentId,
        enabled
    </sql>
    <resultMap id="BaseResultMap" type="top.zhengru.LeaveManagementSystem.entity.SysMenu">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="iconCls" column="iconCls" jdbcType="VARCHAR"/>
        <result property="parentId" column="parentId" jdbcType="INTEGER"/>
        <result property="enabled" column="enabled" jdbcType="BIT"/>
        <association property="meta" javaType="top.zhengru.LeaveManagementSystem.entity.Meta">
            <result property="keepalive" column="keepAlive" jdbcType="BIT"/>
            <result property="requireauth" column="requireAuth" jdbcType="BIT"/>
        </association>
    </resultMap>

    <resultMap id="Menus2" type="top.zhengru.LeaveManagementSystem.entity.SysMenu" extends="BaseResultMap">
        <collection property="children" ofType="top.zhengru.LeaveManagementSystem.entity.SysMenu">
            <id property="id" column="id2" jdbcType="INTEGER"/>
            <result property="url" column="url2" jdbcType="VARCHAR"/>
            <result property="path" column="path2" jdbcType="VARCHAR"/>
            <result property="component" column="component2" jdbcType="VARCHAR"/>
            <result property="name" column="name2" jdbcType="VARCHAR"/>
            <result property="iconCls" column="iconCls2" jdbcType="VARCHAR"/>
            <result property="parentId" column="parentId2" jdbcType="INTEGER"/>
            <result property="enabled" column="enabled2" jdbcType="BIT"/>
            <association property="meta" javaType="top.zhengru.LeaveManagementSystem.entity.Meta">
                <result property="keepalive" column="keepAlive2" jdbcType="BIT"/>
                <result property="requireauth" column="requireAuth2" jdbcType="BIT"/>
            </association>
        </collection>
    </resultMap>

    <select id="getMenuByUserId" resultMap="Menus2">
        SELECT DISTINCT
            m1.*,m2.id AS id2,m2.component AS component2,m2.enabled enabled2,m2.iconCls AS iconCls2,m2.keepAlive AS keepAlive2,m2.name AS name2,m2.parentId AS parentId2,m2.requireAuth AS requireAuth2,m2.path AS path2
        FROM
            sys_menu m1, sys_menu m2, sys_user_role ur, sys_menu_role mr, sys_user u
        WHERE
            m1.id = m2.parentId AND ur.user_id = u.id AND u.username = #{username} AND ur.role_id = mr.rid AND mr.mid = m2.id AND m2.enabled =TRUE
        ORDER BY
            m1.id,m2.id
    </select>
</mapper>
